* {
    margin: 0;
    font-family: "Inter";
}

p {
    cursor: default;
}

header {
    background-color: #424242;
    height: 80px;
}
header > a > img {
    margin-top: 10px;
    height: 180px;
    position: absolute;
    z-index: 1;
    margin-left: calc(50% - 180px / 2 + 10px);
}

.banner {
    position: relative;
    width: 100%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 95%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 95%);
    background: #424242;
}

.banner > img {
    width: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.banner > img:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.text {
    text-align: center;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: calc(25% - 74px / 2);
    left: calc(50% - 198px / 2);
}

.about {
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: #424242;
    margin: 0;
    padding: 20px 0 50px;
    top: 50%;
    -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0 95%);
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0 95%);
}

.comp_h {
    text-align: center;
    font-weight: bold;
}

.comp_info {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 20px 40px;
    height: 700px;
    background: #424242;
}

.comp_info > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.comp_info > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.comp_info > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.comp_info > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.comp_info > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.comp_info > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}

.comp_info > div {
    background-size: 150%;
}

.bg_img1 {
    background: center url("img/pc/stantart1.jpg");
}

.bg_img2 {
    background: center url("img/pc/pro.jpg");
}

.bg_img3 {
    background: center url("img/pc/vip1.jpg");
}

.bg_img4 {
    background: center url("img/pc/vip2.jpg");
}

.bg_img5 {
    background: center url("img/pc/stantart2.jpg");
}

.bg_img6 {
    background: center url("img/pc/vip.jpg");
}

.shadow_comp_info {
    background: center rgba(0, 0, 0, 0.4);
    height: 230px;
    text-align: center;
    padding-top: 120px;
    height: 230px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.shadow_comp_info:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.comp_info > div > div > h1 {
    margin-bottom: 20px;
    color: #FFF;
    cursor: default;
}

.comp_info > div > div > h3 {
    margin-bottom: 20px;
    color: greenyellow;
    cursor: default;
}

.comp_info > div > div > a {
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border: solid 3px white;
    -webkit-box-shadow: 0 0 30px black;
    box-shadow: 0 0 30px black;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, .7);
}

.content_modal {
    text-align: center;
    position: relative;
    background: #424242;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    color: #fff;
}

.text_modal > h1 {
    padding: 20px 0;
}

img {
    width: 150px;
}

.pc1,
.pc2,
.pc5 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 10px 2fr;
    grid-template-columns: repeat(2, 2fr);
    -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding-bottom: 20px;
}

.pc1 > *:nth-child(1), .pc2 > *:nth-child(1), .pc5 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.pc1 > *:nth-child(2), .pc2 > *:nth-child(2), .pc5 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.pc1 > *:nth-child(3), .pc2 > *:nth-child(3), .pc5 > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.pc1 > *:nth-child(4), .pc2 > *:nth-child(4), .pc5 > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.pc1 > *:nth-child(5), .pc2 > *:nth-child(5), .pc5 > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.pc1 > *:nth-child(6), .pc2 > *:nth-child(6), .pc5 > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.pc3,
.pc4,
.pc6 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 10px 2fr;
    grid-template-columns: repeat(2, 2fr);
    -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    padding-bottom: 20px;
}

.pc3 > *:nth-child(1), .pc4 > *:nth-child(1), .pc6 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.pc3 > *:nth-child(2), .pc4 > *:nth-child(2), .pc6 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.pc3 > *:nth-child(3), .pc4 > *:nth-child(3), .pc6 > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.pc3 > *:nth-child(4), .pc4 > *:nth-child(4), .pc6 > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.pc3 > *:nth-child(5), .pc4 > *:nth-child(5), .pc6 > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.pc3 > *:nth-child(6), .pc4 > *:nth-child(6), .pc6 > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.pc3 > *:nth-child(7), .pc4 > *:nth-child(7), .pc6 > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}

.pc3 > *:nth-child(8), .pc4 > *:nth-child(8), .pc6 > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}

.gal {
    -webkit-clip-path: polygon(0 0, 100% 3%, 100% 97%, 0 100%);
    clip-path: polygon(0 0, 100% 3%, 100% 97%, 0 100%);
    background: center url("img/galary.jpg") fixed;
    height: 1250px;
    text-align: center;
    color: #fff;
}

.gal_black {
    background: rgba(0, 0, 0, .8);
    padding-top: 30px;
    height: 100%;
}

.img_arr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 25px 40px;

}

.img_arr > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;

}

.img_arr > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;

}

.img_arr > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;

}

.img_arr > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;

}

.img_arr > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;

}

.img_arr > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;

}

.img_arr > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;

}

.img_arr > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;

}

.img_arr > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;

}

.img_arr > div {
    background-position: center;
    height: 350px;
    background-size: 110%;
}

.gal_img {
    border: 3px solid rgba(0, 0, 0, .0);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.img1 {
    background: url("img/galery/pc1.jpg") no-repeat;
}

.img2 {
    background: url("img/galery/pc2.jpg") no-repeat;
}

.img3 {
    background: url("img/galery/pc3.jpg") no-repeat;
}

.img4 {
    background: url("img/galery/pc4.jpg") no-repeat;
}

.img5 {
    background: url("img/galery/pc5.jpg") no-repeat;
}

.img6 {
    background: url("img/galery/pc6.jpg") no-repeat;
}

.img7 {
    background: url("img/galery/pc7.jpg") no-repeat;
}

.img8 {
    background: url("img/galery/pc8.jpg") no-repeat;
}

.img9 {
    background: url("img/galery/pc9.jpg") no-repeat;
}

.gal_img:hover {
    border: 3px solid #fff;
    background-size: 100%;
}

.partners {
    text-align: center;

}

.partners > div {
    padding: 0 20px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.partners > div:nth-of-type(even) {
    -webkit-clip-path: polygon(0 0, 100% 11%, 100% 89%, 0 100%);
    clip-path: polygon(0 0, 100% 11%, 100% 89%, 0 100%);
    background: #424242;
    height: max-content;
    text-align: center;
    color: #fff;
}

.partners > div > p {
    margin: auto auto;
    font-size: x-large;
    font-weight: bolder;
}

.partners > div > img {
    margin: auto auto;
    width: 50%;
}

.comment {
    color: #fff;
    background: #424242;
    -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0px 95%);
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0px 95%);
    background: center url("img/user.jpg") no-repeat fixed;
    background-size: 105%;
}

.parallax_black {
    padding: 50px 35px;
    background: rgba(0, 0, 0, .8);
    text-align: center;
}

.parallax_black > h2 {
    margin-bottom: 30px;
    /*width: 50px;*/
    position: relative;
}

.user_com {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.user {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2.5fr;
    grid-template-columns: 1fr 2.5fr;
}

.user > img {
    width: 150px;
    border-radius: 50%;
}

.user > div > h1 {
    text-align: left;
    padding-left: 30px;
}

.map {
    /*width: 100%;*/
    margin: 50px 35px;
    text-align: center;
    height: 450px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: default;
}

.map > div > iframe {
    width: 100%;
    height: 450px;
}

.map_info {
    padding-top: 200px;
    background: #eaeaea;
    cursor: pointer;
}

.map_info > h1 {
    padding-bottom: 15px;
}

.rent {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 30px 0;
}

.form_img {
    background: center url("img/form_img.jpg");
    width: 600px;
    height: 700px;
}

.form {
    padding-top: 50px;
}

.form > h1 {
    padding-bottom: 40px;
}

.form > form > h3 {
    font-size: 20px;
}

.inp {
    margin: 25px 0;
    font-size: 20px;
    border: 0;
    border-bottom: 1px solid #000;
    width: 100%;
}

.but {
    border: 1px solid rgba(0, 0, 0, .0);
    color: #FFF;
    font-size: 20px;
    width: 250px;
    height: 50px;
    background: #424242;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.but:hover {
    color: #000;
    background: #fff;
    border: 1px solid #424242;
}

footer {
    font-size: 18px;
    background-color: #eaeaea;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    -ms-grid-rows: max-content;
    grid-template-rows: max-content;
    height: max-content;
    padding: 10px 0;
}

footer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

footer > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

footer > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

footer > a {
    width: -moz-max-content;
    width: max-content;
    margin: 10px 0 0 30px;
}

footer > a > img {
    width: 60px;
}

footer > p {
    text-align: center;
    margin-top: 30px;
}

footer > div {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

footer > div > a {
    padding: 10px;
    text-decoration: none;
    color: #000;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}
